<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>﻿Main job to build the entire postgis chain. This job will trigger proj, geos, pgsql, and postgis to be built, and upon success will trigger assemble-postgis.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <creationTime>1323842705352</creationTime>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <advancedAffinityChooser>false</advancedAffinityChooser>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
  <builders>
    <hudson.tasks.Shell>
      <command>./build_${JOB_NAME}.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>proj,geos,pgsql</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <join.JoinTrigger>
      <joinProjects>assemble-postgis</joinProjects>
      <joinPublishers/>
      <evenIfDownstreamUnstable>false</evenIfDownstreamUnstable>
    </join.JoinTrigger>
  </publishers>
  <buildWrappers/>
  <customWorkspace>C:\hudson\jobs\bootstrap\workspace\build\win32</customWorkspace>
</project>
